body {
  font-family: sans-serif;
}

.transfer-list {
  display: flex;
  border: 1px solid black;
  max-width: 768px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

.transfer-list__section {
  padding: 20px;
  flex: 1;
}

.transfer-list__section_items {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.transfer-list__section__items__item {
  display: flex;
  gap: 8px;
}

.transfer-list__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;
  border-color: black;
  border-width: 0 1px 0 1px;
  border-style: solid;
  padding: 20px;
}
